.services-section {
  padding: 80px 0;
  /* background: linear-gradient(to bottom, #ffe0c2, #fff); */
  text-align: center;
}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .slider {
  width: 1175px;
  overflow: hidden;
} */

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.service {
  min-width: 100px;
  height: 100px;
  margin: 0 15px;
  background: #f3ffef;
  border-radius: 50%;
  border: 3px solid #7ddf9a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.service:hover {
  transition: 0.3s;
  transform: translateY(-6px);
  box-shadow: 0px 0px 20px rgb(247, 127, 28, 0.77);
}

.service img {
  height: 65px;
  width: 65px;
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.dots {
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background: #333;
}
