body {
  background: linear-gradient(
    180deg,
    rgb(247, 127, 28, 0.77) 0%,
    rgb(255, 255, 255) 50%,
    rgba(8, 240, 93, 0.758) 90%
  );
  font-family: Arial, sans-serif, "Geom";

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.bg-image-1 {
  position: fixed;
  top: 50;
  left: 50;
  width: 90%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
}
.container {
  background: rgba(249, 248, 248, 0.197);
  backdrop-filter: blur(5px);
  padding: 30px 30px 30px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.844);
  width: 400px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.glass-header {
  text-align: center;
  padding: 28px 20px;
  margin-bottom: 30px;

  background: linear-gradient(
    135deg,
    rgba(235, 156, 37, 0.35),
    rgba(34, 197, 94, 0.35)
  );

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.glass-header h1 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8px;
}

.glass-header p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #334155;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 14px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

input:focus {
  outline: none;
  border-color: #047a3d;
  box-shadow: 0 4px 12px #4d4c4c70;
}
button {
  width: 100%;
  padding: 12px;
  background: #00662ac1;
  border: 2px solid #026a25;
  color: rgba(255, 255, 255, 0.812);
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
button:hover {
  background: #018237;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(1, 68, 48);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.link {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
.link a {
  color: #048009;
  text-decoration: none;
  font-weight: bold;
}
.link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
